[Desktop Entry]
Name=Post Machine
Version=0.3.8
Comment=Post machine emulator
GenericName=Post Machine
Icon=postmachine.png
Exec=postmachine
Terminal=false
Type=Application
Categories=Education;;
Keywords=Post;Emulator;
StartupWMClass=postmachine
